.section {
  width: 20px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.gray {
  background-color: gray;
}


.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
